#Head{
    color: brown;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.logo{
    width: 50px;
    
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
   
    padding: 10px;
    white-space: 5px;
    margin: 10px;
}
.res-card{
    width:200px;
   
    margin: 5px;

    border: 1px solid black;
    padding: 5px;
}
.res-logo{
    width:190px;
    margin: 5px;
}

.search{
    padding: 10px;
}
.filter-btn{
    margin: 10px;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: gray;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}