#Head{
    color: brown;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.logo{
    width: 150px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 65px;
    border: 1px solid black;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
   
    padding: 10px;
    white-space: 5px;
    margin: 10px;
}
.res-card{
    width:250px;
    height: 500px;
    margin:5px;
    border: 1px solid black;
    padding: 5px;
}
.res-logo{
    width:150px;
    margin: 5px;
    padding: 5px;
}
.cuisine{
   
  word-wrap: break-word;
}

.search{
    padding: 10px;
}
.filter-btn{
    margin: 10px;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: gray;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login-btn{
    padding: 0 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.userCard{
    padding: 10px;
    border:1px solid black;
}